{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block Homeactive %} active {% endblock Homeactive %}

{% block body %}

<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to iTech!</h1>
      <p class="lead">Itech was an ice hockey equipment company founded by Robin Burns. Itech primarily produced goaltender equipment and player's equipment.</p>
      <hr class="my-4">
      <p>On September 25, 2008, Bauer Hockey announced it had purchased Mission-Itech. [1] Since 2009, the Mission brand is used only for roller hockey gear; the company's ice hockey products (Mission and Itech) were rebranded as Bauer.</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>

    <div class="container">
        <h2>Tech Blogs</h2>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">Trending</strong>
                  <h3 class="mb-0">Tech</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">Technology is the continually developing result of accumulated knowledge and application in all techniques, skills, methods, and processes used in industrial production and scientific research.</p>
                  <a href="#" class="stretched-link">Read More</a>
                </div>
           <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>     
              </div>
              </div>


{% endblock %}